body {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.25rem;
    margin: 0;
}

header {
background: black;
min-height: 100vh;
}

nav {
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    width: 100%; 
}

 nav a {
     color: white;
     text-decoration: none;
 }

nav li {
    display: inline-block;
    padding: 1rem;
}

header main {
    padding-top: 5rem;
    text-align: center;
}

header h1 {
    text-transform: capitalize;
    letter-spacing: 5px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    padding-top: 3rem;
}

html {
    scroll-behavior: smooth;
}

.about-me {
    padding: 3rem;
    line-height: 2;
    background:rgba(0, 0, 0, 0.486);
    color: white;
}

.projects {
    padding: 3rem;
    line-height: 2;
    background:rgba(0, 0, 0, 0.486);
    color: white;
    border: 1px solid white;
}

.projects img {
    width:31%;
    padding: 32.7px;
    box-sizing: border-box;
    padding-left: 0;
    transition: 1s;
}

.projects img:hover {
  height: +10%;
  width: +10%;
}
