body {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.25rem;
    margin: 0;
}

header {
background: black;
min-height: 100vh;
}

nav {
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    width: 100%; 
}

 nav a {
     color: white;
     text-decoration: none;
 }

nav li {
    display: inline-block;
    padding: 1rem;
}

header main {
    padding-top: 5rem;
    text-align: center;
}

header h1 {
    text-transform: capitalize;
    letter-spacing: 5px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    padding-top: 3rem;
}

html {
    scroll-behavior: smooth;
}

.about-me {
    padding: 3rem;
    line-height: 2;
    background:rgba(0, 0, 0, 0.486);
    color: white;
}

.projects {
    padding: 3rem;
    line-height: 2;
    background:rgba(0, 0, 0, 0.486);
    color: white;
    border: 1px solid white;
}

.projects img {
    width:31%;
    padding: 32.7px;
    box-sizing: border-box;
    padding-left: 0;
    transition: 1s;
}

.projects img:hover {
  height: +10%;
  width: +10%;
}
#candidates
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
